.modal-procut-detail {
  .modal-content {
    padding: 15px;
  }
  .image {
    width: 380px;
    height: 380px;
  }
  .modal-dialog {
    max-width: 900px;
  }
  input {
    border: 1px solid #f2f4ff !important;
  }
  @media (max-width: 1020px) {
    .image {
      width: 100%;
      height: 200px;
    }
    .modal-dialog {
      max-width: 80%;
      margin: auto;
    }
  }
}

// box product detail khuyen mai
.box-promotion {
  .promotion-title {
    padding: 8px 10px;
    color: #212529;
    font-weight: 500;
    -webkit-box-shadow: inset 0 -1px 0 0 #e9ecef;
    box-shadow: inset 0 -1px 0 0 #e9ecef;
    border: 1px solid;
    border-color: #e9ecef #e9ecef transparent #e9ecef;
    border-radius: 4px 4px 0 0;
  }
  .promotion-list {
    border: 1px solid;
    border-color: transparent #e9ecef #e9ecef #e9ecef;
    border-radius: 0 0 4px 4px;
    padding: 8px 10px;
    i {
      color: #48bb78;
      margin-right: 8px;
    }
  }
}

//cart
.box-cart {
  max-width: 600px;
  background-color: #fff;
  margin: auto;
}
.discountpromotion {
  margin: 5px 0 5px 0;
  background: #fff3c2;
  padding: 8px 10px;
}
.box-cart-detail {
  border-top: 1px solid #d1d1d1;
  padding: 24px;
}
.tab-choose {
  .nav-link {
    padding: 12px;
    margin-right: 0;
    .active {
      padding: 0;
    }
  }
}
.box-choose-content {
  background: #f6f6f6;
  padding: 20px;
  border: 1px solid #e1e1e1;
}

// modal cancel order
.modal-cancel-order {
  .modal-dialog {
    max-width: 350px;
  }
  .modal-content {
    padding: 30px;
  }
}
